.App-secondSlider {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  position: relative;


    .title {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      row-gap: $spacing-xlarge;
      padding: 0 $spacing-medium;
      box-sizing: border-box;

      h2 {
        font-size: 64px;
        font-weight: 700;
        line-height: 100px; /* 156.25% */
      }
    }
  
  .container_lastRecipes {
    padding: 50px 50px;

      .slick-track {
        padding: 10px 0;
      }
  }

  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: center;
    z-index: -2;
  }

  .filter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    z-index: -1;
    box-shadow: inset 300px 0px 250px 138px $background;
  }

  @media screen and (max-width: 1050px) {
    .title {
      width: 100%;
    }
    
  }

  @media screen and (max-width: 500px) {
    .container_lastRecipes {
      padding: 0 20px;
    }
    
  }
}