.App-bestRecipes {
  min-height: 207px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $spacing-large;
  overflow: hidden;

  background-position: end;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 $spacing-medium;
    box-sizing: border-box;
  }

  .container_bestRecipes {
    width: 100%;
    margin-bottom: $spacing-large;

    .slick-slider {
      width: 100%;

      .slick-track {
        display: flex;
        align-items: center;
      }

      .slick-slide {
        display: flex;
        justify-content: center;
        margin: 0 10px; // Ajoutez une marge horizontale de 10px pour chaque slide
      }
    }
  }

  .background {
    position: absolute;
    bottom: -300px; 
    left: 0;
    right: 0;
    height: calc(100% + 30px);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media screen and (max-width: 1350px) {
    .container_bestRecipes .slick-slider {
      width: 100% !important;
    }

    .container_bestRecipes .slick-slide {
      margin: 0 5px; // Réduisez la marge pour les écrans plus petits
    }
  }

  @media screen and (max-width: 1050px) {
    .title {
      width: 100%;
    }

    .container_bestRecipes .slick-slider {
      width: 100% !important;
    }

    .container_bestRecipes .slick-slide {
      margin: 0 5px; // Réduisez la marge pour les écrans plus petits
    }
  }

  @media screen and (max-width: 768px) {
    .container_bestRecipes .slick-slider {
      width: 100% !important;
    }

    .container_bestRecipes .slick-slide {
      margin: 0 2px; // Réduisez encore plus la marge pour les écrans très petits
    }
  }
}