.App-banner {
    // bottom: -300px; // Fait dépasser le background de 30px en bas
    bottom: 0;
    // left: 0;
    right: 0;
    // height: calc(100% + 30px); // Ajuste la hauteur pour compenser le dépassement
    // height: 100%;
    // width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center;
    z-index: -2;
    width: 1440px;
    height: 314.091px;
    flex-shrink: 0;
    box-shadow: inset 300px 0px 250px 90px $dark;
    display: flex;
    justify-content: center;
    align-items: center;


    h1 {
        color: $light;
      }

    h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 100px; /* 156.25% */
    }
}
