.container_dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-bottom: 40px;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;

    .card_dashboard {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F99800;
        border-radius: 40px; 
        width: 300px;
        height: 268px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        flex-direction: column;
    
        .button_card {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
    
            .dashboard_button {
                border: 1px solid $light;
                background: $light;
                color: $dark;
    
                &:hover {
                    border: 1px solid $orange;
                    background: $orange;
                    color: $dark;
                }
            }
        }
    }
  }
  

.App-UpdateRecipe, .App-PostRecipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    .dashboard_input, .form_dashboard {
        display: flex;
        align-items: center;

        .url {
            width: 100%;
            p {
                width: 100%;
                overflow: hidden; // Masque le contenu qui dépasse
                text-overflow: ellipsis; // Ajoute des points de suspension pour le texte qui dépasse
                white-space: nowrap; // Empêche le texte de se diviser en plusieurs lignes
            }          
        }


        input, select {
            width: 140px;
            height: 30px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            color: $dark;
            font-family: $font-family;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 125% */
            padding: 0;
        }   
        .add_data {
            display: flex;

            input, select {
                width: 140px;
                height: 30px;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                color: $dark;
                font-family: $font-family;
                font-style: normal;
                font-weight: 400;
                line-height: 25px; /* 125% */
                padding: 0;
            }    
            button {
                width: 80px;
            }          
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;


                select, input, .add_data select, .add_data input {
                    width: 140px;
                    height: 30px;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    color: $dark;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px; /* 125% */
                    padding: 0;
                }

                button {
                    width: 80px;
                }    
            }

            
        }
    }

    @media screen and (max-width: 550px) {
        .dashboard_input{


            .add_data {
                display: flex;
                flex-direction: column;
            }

            ul li {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

