.App-footer {
  row-gap: $spacing-medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-footer {
    display: flex;
    justify-content: space-between;      
    flex-direction: row;
    padding: 0 $spacing-medium;

    .footer-logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    nav {
      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: $spacing-small;

        li {
          list-style: none;
          margin: 0;
          text-align: left;

          a {
            color: $dark;
            font-family: $font-family;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }          
        }          
      }
    }

    .social_network {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 9px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: $border-radius-medium;
        background-color: $orange;
        border: 1px solid $orange;

        i::before {
          font-size: 25px;
        }
      }        
    }

    @media (max-width: 700px) {
      margin-top: $spacing-medium;
      flex-direction: column;
      align-items: center;
      gap: $spacing-medium;
    }
  }

  .bottom-footer {
    display: flex;
    justify-content: center;

    a {
      color: $dark;
      font-family: $font-family;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &:not(:last-child)::after {
        content: '-';
        margin-left: $spacing-small;
        margin-right: $spacing-small;
      }

      .logo-social-network {
        width: 25px;
        height: 25px;
      }
    }

    @media (max-width: 700px) {
      margin-top: $spacing-medium;
      flex-direction: column;
      align-items: center;
      row-gap: $spacing-medium;

      a:not(:last-child)::after {
        content: '';
      }
    }
  }
}