.App-header {
  min-height: 207px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  margin-bottom: -40px;
  position: relative;

  .App-logo {
    height: 25px;
    pointer-events: none;
    width: 220px;
  }

  .navigation {
    width: 100%;
    max-width: 842px;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      width: max-content;
      height: 207px;
      padding: 0;
      margin: 0;
      justify-content: center;
      align-items: center;
      gap: 60px;
      flex-shrink: 0;
      color: $dark;
      text-align: center;
      font-family: $font-family;
      font-size: $font-size-h2;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 104.167% */
      list-style: none;

      li {
        list-style: none;
        position: relative; /* Ajouté pour le positionnement du sous-menu */

        a {
          color: $dark;
          text-align: center;
          font-family: $font-family;
          font-size: $font-size-h2;
          font-style: normal;
          font-weight: 400;
          line-height: 25px; /* 104.167% */
          list-style: none;
        }

        /* Styles pour le sous-menu */
        .sub-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $orange;
          box-shadow: $box-shadow;
          z-index: 1;
          padding: 10px 0;

          li {
            list-style: none;

            a {
              display: block;
              padding: $spacing-small $spacing-medium;
              text-decoration: none;
              color: $dark;

              &:hover {
                background-color: $light;
              }
            }
          }
        }

        &:hover .sub-menu,
        &:focus .sub-menu,
        &:active .sub-menu {
          display: block;
        }
      }
    }
  }

  .navigation_burger {
    display: flex;
    flex-direction: column;
    align-items: end;

    ul {
      display: none;
      flex-direction: column;
      width: max-content;
      height: 207px;
      padding: 0;
      margin: 0;
      justify-content: center;
      align-items: end;
      gap: 60px;
      flex-shrink: 0;
      color: $dark;
      text-align: center;
      font-family: $font-family;
      font-size: $font-size-h2;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 104.167% */
      list-style: none;
      position: relative;
      top: 200px;
      right: 16%;

      li {
        list-style: none;

        a {
          color: $dark;
          text-align: center;
          font-family: $font-family;
          font-size: $font-size-h2;
          font-style: normal;
          font-weight: 400;
          line-height: 25px; /* 104.167% */
          list-style: none;
        }
      }
    }

    .burger-menu-button {
      background-color: $orange;
      width: 40px;
      height: 40px;
      border-radius: $border-radius-small;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $spacing-small;

      .burger-line {
        width: 24px;
        height: 2px;
        background: $orange;
        border-radius: $border-radius-small;
      }
    }
  }

  & .open {
    background-color: $orange;
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;

    .burger-menu-button {
      position: relative;
      top: 5%;
      right: 16%;
      background-color: $light;

      .burger-line {
        width: 30px;
        height: 3px;
        background-color: $orange;
        display: block;
        height: 3px;
        transition: opacity 0.2s linear, transform 0.2s linear;
      }

      .burger-line.open:first-child {
        transform: translateX(0) translateY(18px) rotate(45deg);
      }

      .burger-line.open:nth-child(2) {
        opacity: 0;
      }

      .burger-line.open:nth-child(3) {
        transform: translateX(0) translateY(18px) rotate(-45deg);
      }
    }

    ul {
      display: flex;

      li {
        a {
          color: $light;
        }
      }

      .connexion {
        border-radius: $border-radius-medium;
        border: 1px solid $light;
        background: $light;

        button {
          display: flex;
          width: 120px;
          height: 40px;
          padding: 1px 3px;
          justify-content: center;
          align-items: center;
          gap: $spacing-small;
          flex-shrink: 0;
          color: $orange;
          font-family: $font-family;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  .connexion {
    border-radius: $border-radius-medium;
    border: 1px solid $orange;
    background: $orange;
    display: flex;
    width: 120px;
    height: 40px;
    padding: 1px 3px;
    justify-content: center;
    align-items: center;
    gap: $spacing-small;
    flex-shrink: 0;
    color: $dark;
    font-family: $font-family;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    i::before {
      font-size: 24px;
    }
  }
}