.App-lastRecipes {
  min-height: 207px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $spacing-large;
  overflow: hidden;

  background-position: end;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: -$spacing-large;

  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 $spacing-medium;
    box-sizing: border-box;
  }

  .container_lastRecipes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: $spacing-large;
  }

  .background {
    position: absolute;
    bottom: -300px; // Fait dépasser le background de 30px en bas
    left: 0;
    right: 0;
    height: calc(100% + 30px); // Ajuste la hauteur pour compenser le dépassement
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}